<nav class="navbar bg-body-tertiary">
    <div class="container d-block">
        <div class="row">
            <div class="d-flex justify-content-between">
                <div class="container-fluid d-flex">
                    <a class="navbar-brand" routerLink="/products">Products Stock</a>
                </div>
                <a class="btn btn-outline-primary btn-sm text-nowrap" routerLink="/products/add"><i class="bi bi-plus-lg"></i> Add Product</a>
            </div>
        </div>
    </div>
</nav>
