

        <div>
            <div class="d-flex justify-content-between align-items-center">
              <h4>Add Product</h4>
              <a class="btn btn-light btn-sm px-3 py-2 fw-bold text-nowrap" routerLink="/products"><i class="bi bi-arrow-return-left pe-2"></i> Return to Products</a>
            </div>
            <form class="bg-white p-3 rounded-3" (ngSubmit)="onCreateProduct()" [formGroup]="createProductForm">
                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="name" class="form-label">Name <span>*</span></label>
                        <input formControlName="name" type="text" class="form-control" id="name" placeholder="Product Name">
                        <span class="validation-message" *ngIf="name.invalid && name.touched">
                            Please provide a valid product name.
                        </span>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="category" class="form-label">Category <span>*</span></label>
                        <select formControlName="category" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                        </select>
                        <span class="validation-message" *ngIf="category.invalid && category.touched">
                            Please select a category.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <label for="description" class="form-label">Description <span>*</span></label>
                        <textarea formControlName="description" class="form-control" id="description" rows="3" placeholder="Product Description"></textarea>
                        <span class="validation-message" *ngIf="description.invalid && description.touched">
                            Please provide a valid product description.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="price" class="form-label">Price <span>*</span></label>
                        <input formControlName="price" type="number" class="form-control" id="price">
                        <span class="validation-message" *ngIf="price.invalid && price.touched">
                            Please provide a valid product price.
                        </span>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="serialNumber" class="form-label">Serial Number</label>
                        <input formControlName="serialNumber" type="text" class="form-control" id="serialNumber">
                        <button type="button" class="btn btn-link btn-sm" (click)="onGenerateUUID()">Auto generate</button>
                        <span class="validation-message" *ngIf="serialNumber.invalid && serialNumber.touched">
                            Serial number should be less than 500 characters.
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-6">
                        <label for="store" class="form-label">Store <span>*</span></label>
                        <select formControlName="store" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let s of stores" [value]="s.id">{{s.name}}</option>
                        </select>
                        <span class="validation-message" *ngIf="store.invalid && store.touched">
                            Please select a store.
                        </span>
                    </div>

                    <div class="mb-3 col-md-6">
                        <label for="status" class="form-label">Status <span>*</span></label>
                        <select formControlName="status" class="form-select">
                            <option value="">Select</option>
                            <option *ngFor="let s of productStatus" [value]="s.value">{{s.label}}</option>
                        </select>
                        <span class="validation-message" *ngIf="status.invalid && status.touched">
                            Please select a status.
                        </span>
                    </div>
                </div>

                <div class="row" *ngIf="showIssuedFor">
                    <div class="mb-3 col-md-6">
                        <label for="issuedFor" class="form-label">Issued For <span>*</span></label>
                        <input formControlName="issuedFor" type="text" class="form-control" id="issuedFor" placeholder="Issued for">
                        <span class="validation-message" *ngIf="issuedFor.invalid && issuedFor.touched">
                            Please provide a valid issued for.
                        </span>
                    </div>
                </div>

                <button class="btn btn-primary me-2" type="submit" [disabled]="createProductForm.invalid">Create</button>
            </form>
        </div>

